<h2> Alta cliente </h2>
<p>
    <span> Nombre: </span>
    <input type="text" [(ngModel)]="cliente.nombre">
</p>
<p>
    <span> CURP: </span>
    <input type="text" [(ngModel)]="cliente.curp">
</p>
<p>
    <span> Direccion: </span>
    <input type="text" [(ngModel)]="cliente.direccion">
</p>
<p>
    <span> Grupo: </span>
    <select [(ngModel)]="cliente.sexo">
    <option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{grupo.sexo}}</option>
    </select>
</p>
<p>
    <button (click)="this.nuevoCliente()"> </button>
</p>